snippet fastio "Fast I/O" b
from sys import stdin, stdout
input = lambda: stdin.readline().strip()
print = lambda *args, end='\n', sep=' ': stdout.write(sep.join(map(str, args)) + end)

${0}
endsnippet

snippet tests "Test Cases" b
for _ in range(int(input())):
	${0}
endsnippet
